<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="ApiKey" value="xu33hbv595hbph356thk7a94en578wup"/>
    <add key="Realm" value="Пиратская бухта"/>
    <add key="Guild" value="Инициация"/>
    <add key="MinItemLevel" value="780"/>
    <add key="MinLevel" value="110"/>
    <add key="RanksToExclude" value="8"/>
  </appSettings>
</configuration>